<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ static_url }}/css/bootstrap.min.css">
    <title>Test Suite: {{ release }} - Test Cases</title>
  </head>
  <body>
    <main role="main" class="container" style="margin-top: 40px; margin-bottom: 40px">
      <h2>Test Suite: {{ release }} - Test Cases</h2>
      <hr />

      <ul class="list-inline">
	<li class="list-inline-item"><h6><strong>Type:</strong> <em>{{ counts.automated }} automated / {{ counts.manual }} manual / {{ counts.all }} both</em>
	</li>
	<li class="list-inline-item"><strong>Priority:</strong> <em>{{ counts.low }} low / {{ counts.medium }} medium / {{ counts.high }} high / {{ counts.critical }} critical</em>
	</li>
	<li class="list-inline-item"><strong>Total:</strong> <em>{{ counts.total }}</em>
	</li>
      </ul>

      <div class="list-group">
	{% for name, description, exec_type, priority, priority_color, filename in index_files %}
	<a href="{{ filename }}.html" class="list-group-item list-group-item-action flex-column align-items-start">
	  <div class="d-flex w-100 justify-content-between">
	    <h5 class="mb-1"><strong>{{ name }}</strong>  <small>{{ exec_type }}</small></h5>
	  </div>
	  <p class="mb-1">{{ description }}</p>
	  <big><span class="badge badge-{{ priority_color }}">{{ priority }}</span></big>
	</a>
	{% endfor %}
      </div>

    </main>
  </body>
</html>
