{% macro git_repo(url, dir, branch) %}
  <li class="mb-sm-2">Clone the tests repository from another computer <i>(Note that the branch being tested may change depending on the release, please make sure to clone the correct branch for the release in question)</i>:</li>
  <pre><code>$ git clone --branch {{ branch }} {{ url }}</code></pre>
  <li class="mb-sm-2">Copy the test directory {{ dir }} to the target device:</li>
  <pre><code>$ DUT_IP=&ltdevice-ip&gt</code></pre>
  <pre><code>$ scp -r {{ dir }} user@$DUT_IP:</code></pre>
  <li class="mb-sm-2">Log into the target device:</li>
  <pre><code>$ ssh user@$DUT_IP</code></pre>
{% endmacro %}

{% macro ostree_preconditions(preconditions) %}
{% for precondition in preconditions %}
  <li class="mb-sm-2">From a PC, download and unpack the test data tarball from the gitlab test repository:</li>
  <pre><code>$ wget https://gitlab.apertis.org/tests/{{ precondition.reponame }}/-/archive/{{ precondition.branch }}/{{ precondition.reponame }}.tar.gz</code></pre>
  <pre><code>$ tar -xvf {{ precondition.reponame }}.tar.gz</code></pre>
  <li class="mb-sm-2">Copy the {{ precondition.reponame }}-* folder to the target device:</li>
  <pre><code>$ DUT_IP=&ltdevice-ip&gt</code></pre>
  <pre><code>$ scp -r {{ precondition.reponame }}-* user@$DUT_IP:</code></pre>
  <li class="mb-sm-2">Log into the target device:</li>
  <pre><code>$ ssh user@$DUT_IP</code></pre>
  <li class="mb-sm-2">After log into the DUT, enter the test directory</li>
  <pre><code>$ cd {{ precondition.reponame }}-*</code></pre>
  <li class="mb-sm-2">Note that the tarball may change depending on the release/branch being tested, please make sure to download the correct tarball for the release in question.</li>
{% endfor %}
{% endmacro %}

{% macro install_packages(packages_list) %}
  <li class="mb-sm-2">Ensure Rootfs is remounted as read/write.</li>
  <pre><code>$ sudo mount -o remount,rw /</code></pre>
  <li class="mb-sm-2">Install dependencies</li>
  <pre><code>$ sudo apt install {{ packages_list }}</code></pre>
  <li class="mb-sm-2">Restart the system to restore the filesystem state to read-only before running the test.</li>
  <pre><code>$ sudo reboot</code></pre>
{% endmacro %}

{% macro modules_preconditions(libname) %}
  <li class="mb-sm-2">Download the ribchester binary inside the /tmp directory.</li>
  <pre><code>$ cd /tmp/</code></pre>
  <pre><code>$ apt source {{ libname }}</code></pre>
  <pre><code>$ chown user:user -R /tmp/{{ libname }}-*</code></pre>
{% endmacro %}
