<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
    <title>Access Forbidden</title>
  </head>
  <body>
    <main role="main" class="container" style="margin-top: 40px; margin-bottom: 40px">
      <div class="alert alert-danger" role="alert">
        <h1>Oops!</h1>
        <p>
            Access forbidden: {{ error.description }}.
            <br/>
            Please contact the administrator.
        </p>
        <a href="{{ url_for('index') }}"><button id="try-again-btn" type="button" class="btn btn-success">Go Home</button></a>
      </div>
    </main>
  </body>
</html>
