<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
    <script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
    <title>Test Suites and Reports List</title>
  </head>
  <body>
    <main role="main" class="container" style="margin-top: 40px; margin-bottom: 40px">
      <div class="d-flex justify-content-between">
        <div><h2>Test Suites and Reports List</h2></div>
        <div>
          {% if username %}
            <div>
              <p>Logged in as {{ username }}</p>
              <a href="{{ url_for('select_image') }}"><button id="submit-report-btn" type="button" class="btn btn-info">Submit Manual Test Report</button></a>
            </div>
          {% else %}
            <div>
              <a href="{{ url_for('login') }}" class="btn btn-primary" role="button">Login</a>
            </div>
          {% endif %}
        </div>
      </div>

      <hr>
      <div class="d-flex justify-content-between">
        <div class="d-flex align-items-center"><h3 class="text-nowrap mb-0">Test Suites</h3></div>
          <div class="d-flex flex-wrap">
            {% for release in releases %}
              <a class="btn btn-secondary btn-sm m-1" href="{{ url_for('testcases_release_index', release=release) }}">{{release}}</a>
            {% endfor %}
          </div>
        </div>
      <hr />
        <div class="d-flex align-items-center">
          <h3 class="text-nowrap mb-0">Test Reports</h3>
          {% if show_all %}
            <a href="{{ url_for('index') }}" class="ml-auto">Show less</a>
          {% else %}
            <a href="{{ url_for('index_all') }}" class="ml-auto">Show all</a>
          {% endif %}
        </div>
      </div>
      <br>

      <div class="d-flex justify-content-around">
        <div class="mr-lg-3">
          <h4>Releases</h4>
          <div>
            {% for e in released %}
            <div class="result_box mb-lg-3">
            <div class="float-right text-muted">
              <small>{{ e.image_release }} / {{ e.image_build }}</small>
            </div>
            <h5>
              {{ e.tag }}
            </h5>
            <table class="small table table-sm table-hover">
              <thead>
                {% set ns = namespace() %}
                {% for d in e.results.values() %}
                  {% if d.manual.total > 0 %}
                    {% set ns.highlight="true" %}
                  {% endif %}
                {% endfor %}
                <tr style="{{ 'background-color:ghostwhite' if ns.highlight == "true" }}">
                  <td></td>
                  <td>executed</td>
                  <td>pass</td>
                  <td>skip</td>
                  <td>fail</td>
                  <td>incomplete</td>
                </tr>
              </thead>
              <tbody>
                {% for image_deployment, deployment in e.results.items() %}
                  {% for type, results in deployment|dictsort if not type=='executed' %}
                    <tr style="{{ 'background-color:ghostwhite' if ns.highlight == "true" }}">
                    {% if results.total > 0 %}
                      <th>
                        <a href="{{ url_for('get_report', image_release=e.image_release, image_version=e.image_build, image_deployment=image_deployment) }}">
                          {{ image_deployment }} ({{- {"automated": "a", "manual": "m"}[type] -}})
                        </a>
                      </th>

                      <td style="{{ 'color: darkgreen' if results.total > 0 }}">{{ results.total }}</td>
                      <td style="{{
                        'color:darkgreen' if results.pass == results.total
                        else 'color:brown'
                      }}">
                        {{ results.pass }}
                      </td>
                      <td style="{{ 'color: darkorange' if results.skip > 0 }}">{{ results.skip }}</td>
                      <td style="{{ 'color: red' if results.fail > 0 }}">{{ results.fail }}</td>
                      <td style="{{ 'color: darkorange' if results.incomplete > 0 }}">{{ results.incomplete }}</td>
                    {% endif %}
                    </tr>
                  {% endfor %}
                {% endfor %}
              </tbody>
              </table>
            </div>
            {% endfor %}
          </div>
        </div>

        <div class="ml-lg-3 mr-lg-3">
          <h4>Weeklies</h4>
          <div>
            {% for e in weeklies %}
            <div class="result_box mb-lg-3">
            <h5>
              {{ e.image_release }} / {{ e.image_build }}
            </h5>
            <table class="small table table-sm table-hover">
              <thead>
                {% set ns = namespace() %}
                {% for d in e.results.values() %}
                  {% if d.manual.total > 0 %}
                    {% set ns.highlight="true" %}
                  {% endif %}
                {% endfor %}
                <tr style="{{ 'background-color:ghostwhite' if ns.highlight == "true" }}">
                  <td></td>
                  <td>executed</td>
                  <td>pass</td>
                  <td>skip</td>
                  <td>fail</td>
                  <td>incomplete</td>
                </tr>
              </thead>
              <tbody>
                {% for image_deployment, deployment in e.results.items() %}
                  {% for type, results in deployment|dictsort if not type=='executed' %}
                    <tr style="{{ 'background-color:ghostwhite' if ns.highlight == "true" }}">
                    {% if results.total > 0 %}
                      <th>
                        <a href="{{ url_for('get_report', image_release=e.image_release, image_version=e.image_build, image_deployment=image_deployment) }}">
                          {{ image_deployment }} ({{- {"automated": "a", "manual": "m"}[type] -}})
                        </a>
                      </th>

                      <td style="{{ 'color: darkgreen' if results.total > 0 }}">{{ results.total }}</td>
                      <td style="{{
                        'color:darkgreen' if results.pass == results.total
                        else 'color:brown'
                      }}">
                        {{ results.pass }}
                      </td>
                      <td style="{{ 'color: darkorange' if results.skip > 0 }}">{{ results.skip }}</td>
                      <td style="{{ 'color: red' if results.fail > 0 }}">{{ results.fail }}</td>
                      <td style="{{ 'color: darkorange' if results.incomplete > 0 }}">{{ results.incomplete }}</td>
                    {% endif %}
                    </tr>
                  {% endfor %}
                {% endfor %}
              </tbody>
              </table>
            </div>
            {% endfor %}
          </div>
        </div>

        <div class="ml-lg-3">
          <h4>Dailies</h4>
          <div>
            {% for e in builds %}
            <div class="result_box mb-lg-3">
            <h5>
              {{ e.image_release }} / {{ e.image_build }}
            </h5>
            <table class="small table table-sm table-hover">
              <thead>
                {% set ns = namespace() %}
                {% for d in e.results.values() %}
                  {% if d.manual.total > 0 %}
                    {% set ns.highlight="true" %}
                  {% endif %}
                {% endfor %}
                <tr style="{{ 'background-color:ghostwhite' if ns.highlight == "true" }}">
                  <td></td>
                  <td>executed</td>
                  <td>pass</td>
                  <td>skip</td>
                  <td>fail</td>
                  <td>incomplete</td>
                </tr>
              </thead>
              <tbody>
                {% for image_deployment, deployment in e.results.items() %}
                  {% for type, results in deployment|dictsort if not type=='executed' %}
                    <tr style="{{ 'background-color:ghostwhite' if ns.highlight == "true" }}">
                    {% if results.total > 0 %}
                      <th>
                        <a href="{{ url_for('get_report', image_release=e.image_release, image_version=e.image_build, image_deployment=image_deployment) }}">
                          {{ image_deployment }} ({{- {"automated": "a", "manual": "m"}[type] -}})
                        </a>
                      </th>

                      <td style="{{ 'color: darkgreen' if results.total > 0 }}">{{ results.total }}</td>
                      <td style="{{
                        'color:darkgreen' if results.pass == results.total
                        else 'color:brown'
                      }}">
                        {{ results.pass }}
                      </td>
                      <td style="{{ 'color: darkorange' if results.skip > 0 }}">{{ results.skip }}</td>
                      <td style="{{ 'color: red' if results.fail > 0 }}">{{ results.fail }}</td>
                      <td style="{{ 'color: darkorange' if results.incomplete > 0 }}">{{ results.incomplete }}</td>
                    {% endif %}
                    </tr>
                  {% endfor %}
                {% endfor %}
              </tbody>
              </table>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
<script>
var maxHeight = 0;

$(document).ready(function() {
  $(".result_box").each(function () {
      if ($(this).height() > maxHeight) {
          maxHeight = $(this).height();
      }
  });

  $(".result_box").height(maxHeight);
});

{%- if username and user_can_submit_reports -%}
{# Only authenticated user with the right perms can submit reports #}

$(document).ready(function() {
  $("#submit-report-btn").removeAttr("disabled");
})

{%- else -%}
{# Disable submit-report-btn for not authenticated users or users not allowed to submit reports #}

$(document).ready(function() {
  $("#submit-report-btn").attr("disabled", "disabled");
})

{% endif %}

</script>
