<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/star.css') }}" />
    <script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
    <title>Test Report</title>
  </head>
  <body>
    <main role="main" class="container" style="margin-top: 40px; margin-bottom: 40px">
      <div class="d-flex justify-content-between">
        <div><h2>Test Report</h2></div>
        <div id="tag_box">
          <div id="release_tag"><button type="button" class="btn btn-block btn-primary btn-sm mb-1" id="tag-button-release" disabled>{%- if tag_type == "release" -%}Untag {{ tag }}{%- else -%}Tag release{% endif -%}</button></div>
          <div id="weekly_tag"><button type="button" class="btn btn-block btn-primary btn-sm mb-1" id="tag-button-weekly" disabled>{%- if tag_type == "weekly" -%}Untag weekly{%- else -%}Tag weekly{% endif -%}</button></div>
        </div>
      </div>
      <hr />

      <div class="container mb-md-3">
        <p>
          Build: <b>{{ image_version }}</b> / Release: <b>{{ image_release }}</b>
        {% if image_urls %}
          <div>Images:
            {% set comma = joiner(', ') %}
            {# The '-'s are important to strip spaces preceding the `,`. #}
            {% for image, url in image_urls.items() | sort(attribute='0') -%}
              {{comma()}}<em><a href="{{ url }}">{{ supported_platforms[image] }}</a></em>
            {%- endfor %}
            </div>
        {% else %}
          <div>No image URLs available.</div>
        {% endif %}
        </p>
        <div class="row">
          <div class="col-md-9"><h5><span class="badge table-secondary">Low</span> <span class="badge table-info">Medium</span> <span class="badge table-warning">High</span> <span class="badge table-danger">Critical</span> <span class="badge table-primary">a - automated</span> <span class="badge table-primary">m - manual</span></h5></div>
        </div>
        {% if not is_alltests %}
        <div class="alert alert-primary" role="alert">
          This report omits test cases that have not been executed. Please check
          the full version of the <a href="{{ url_for('get_report', image_release=image_release, image_version=image_version, image_deployment=image_deployment, show='all') }}">report page</a> for the complete list of test cases.
        </div>
        {% endif %}
      </div>

      <div><h5><span class="badge table-light">Summary</h5></div>
      <table id="test_summary" class="table table-bordered">
        <thead class="thead-light">
          <tr>
            <th scope="col">type</th>
            <th scope="col">defined</th>
            <th scope="col">executed</th>
            <th scope="col">pass</th>
            <th scope="col">skip</th>
            <th scope="col">fail</th>
            <th scope="col">incomplete</th>
          </tr>
        </thead>
        <tbody>
          {% if starred_job %}
            {% if tag_type == "release" %}
              {% for e in released %}
                {% for img_deployment, deployment in e.results.items() %}
                  {% if ( (e.image_release == image_release) and (e.image_build == image_version) ) %}
                    {% if (img_deployment == image_deployment) %}
                      <tr>
                        <td> automated </td>
                        <td>{{ automated_count }}</td>
                        <td>{{ deployment.automated.total }}</td>
                        <td>{{ deployment.automated.pass }}</td>
                        <td>{{ deployment.automated.skip }}</td>
                        <td>{{ deployment.automated.fail }}</td>
                        <td>{{ deployment.automated.incomplete }}</td>
                      </tr>
                      <tr>
                        <td> manual </td>
                        <td>{{ manual_count }}</td>
                        <td>{{ deployment.manual.total }}</td>
                        <td>{{ deployment.manual.pass }}</td>
                        <td>{{ deployment.manual.skip }}</td>
                        <td>{{ deployment.manual.fail }}</td>
                        <td>{{ deployment.manual.incomplete }}</td>
                      </tr>
                    {% endif %}
                  {% endif %}
                {% endfor %}
              {% endfor %}
            {% elif tag_type == "weekly" %}
              {% for e in weeklies %}
                {% for img_deployment, deployment in e.results.items() %}
                  {% if ( (e.image_release == image_release) and (e.image_build == image_version) ) %}
                    {% if (img_deployment == image_deployment) %}
                      <tr>
                        <td> automated </td>
                        <td>{{ automated_count }}</td>
                        <td>{{ deployment.automated.total }}</td>
                        <td>{{ deployment.automated.pass }}</td>
                        <td>{{ deployment.automated.skip }}</td>
                        <td>{{ deployment.automated.fail }}</td>
                        <td>{{ deployment.automated.incomplete }}</td>
                      </tr>
                      <tr>
                        <td> manual </td>
                        <td>{{ manual_count }}</td>
                        <td>{{ deployment.manual.total }}</td>
                        <td>{{ deployment.manual.pass }}</td>
                        <td>{{ deployment.manual.skip }}</td>
                        <td>{{ deployment.manual.fail }}</td>
                        <td>{{ deployment.manual.incomplete }}</td>
                      </tr>
                    {% endif %}
                  {% endif %}
                {% endfor %}
              {% endfor %}
            {% endif %}
          {% else %}
            {% for e in builds %}
              {% for img_deployment, deployment in e.results.items() %}
                {% if ( (e.image_release == image_release) and (e.image_build == image_version) ) %}
                  {% if (img_deployment == image_deployment) %}
                    <tr>
                      <td> automated </td>
                        <td>{{ automated_count }}</td>
                        <td>{{ deployment.automated.total }}</td>
                        <td>{{ deployment.automated.pass }}</td>
                        <td>{{ deployment.automated.skip }}</td>
                        <td>{{ deployment.automated.fail }}</td>
                        <td>{{ deployment.automated.incomplete }}</td>
                      </tr>
                      <tr>
                        <td> manual </td>
                        <td>{{ manual_count }}</td>
                        <td>{{ deployment.manual.total }}</td>
                        <td>{{ deployment.manual.pass }}</td>
                        <td>{{ deployment.manual.skip }}</td>
                        <td>{{ deployment.manual.fail }}</td>
                        <td>{{ deployment.manual.incomplete }}</td>
                      </tr>
                    </tr>
                  {% endif %}
                {% endif %}
              {% endfor %}
            {% endfor %}
          {% endif %}
        </tbody>
      </table>

      <div><h5><span class="badge table-light">Results</h5></div>
      <table id="test_report" class="table table-responsive table-bordered">
        <thead class="thead-light">
          <tr>
            <th scope="col">ID</th>
            {% for image, name in supported_platforms.items() %}
              <th scope="col">
                {{ name }}
                (<a href="{{ url_for('submit_report', image_release=image_release, image_version=image_version, image_type=image, image_deployment=image_deployment) }}">edit</a>)
              </th>
            {% endfor %}
            <th scope="col">Notes</th>
          </tr>
        </thead>
        <tbody>
          {% for test_case, priority, notes, image_types, exec_type in report_table %}
            <tr id="{{ test_case|e }}">
            <th scope="row" class="table-{{ priority_color_table[priority] }}" style="min-width: 300px;">
              <a href="{{ url_for('testcases_definition', release=image_release, testcase=test_case|e) }}">
                {{ test_case|e }} ({{- {"automated": "a", "manual": "m"}[exec_type] -}})
              </a>
            </th>
            {% for image in supported_platforms %}
              {% set result, url = image_types[image] -%}
              {% if result == 'pass' %}
              <td class="table-success"><a href="{{ url }}">PASS</a></td>
              {% elif result == 'fail' %}
              <td class="table-danger"><a href="{{ url }}">FAIL</a></td>
              {% elif result == 'incomplete' %}
              <td class="table-danger"><a href="{{ url }}">INCOMPLETE</a></td>
              {% elif result == 'not_tested' %}
              <td class="table-light">NOT TESTED</td>
              {% elif result == 'na' %}
              <td class="table-secondary">N/A</td>
              {% else %}
              <td class="table-info">UNKNOWN</td>
              {% endif %}
            {% endfor %}
            <td style="min-width: 300px;">{{ notes|safe }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

    </main>
  </body>
</html>

<script>
{%- if username and user_can_tag_images -%}
{# Only authenticated user with the right perms can tag releases #}

// Default label for tag button
var release_button_label = "Tag release";
var weekly_button_label = "Tag weekly";
var tag_type = "{{ tag_type }}"

function updateButtons() {
  if (tag_type == "release") {
    $( "#tag-button-weekly" ).attr("disabled", "disabled");
    $( "#tag-button-weekly" ).removeClass("btn-danger");
    $( "#tag-button-release" ).removeAttr("disabled");
    $( "#tag-button-release" ).addClass("btn-danger");
  } else if (tag_type == "weekly") {
    $( "#tag-button-release" ).attr("disabled", "disabled");
    $( "#tag-button-release" ).removeClass("btn-danger");
    $( "#tag-button-weekly" ).removeAttr("disabled");
    $( "#tag-button-weekly" ).addClass("btn-danger");
  } else {
    $( "#tag-button-release" ).removeAttr("disabled");
    $( "#tag-button-release" ).removeClass("btn-danger");
    $( "#tag-button-weekly" ).removeAttr("disabled");
    $( "#tag-button-weekly" ).removeClass("btn-danger");
  }
}

function updateReleaseTag() {
  var tag = $("#txt_release_tag").val();
  $( "input" ).remove( "#txt_release_tag" )

  // Re-add button with tag
  $( "<button></button>" ).attr({
    'type': "button", 'id': "tag-button-release", 'class': "btn btn-primary btn-sm mb-1"
  }).appendTo( "#release_tag" );

  // Update tag if not empty, otherwise keep original 'Tag release' label
  $( "#tag-button-release" ).html(tag.length ? "Untag " + tag : release_button_label)
  $.post("{{ url_for('get_report', image_release=image_release, image_version=image_version, image_deployment=image_deployment) }}", {
    tag: tag, is_checked: true, tag_type: 'release'
  });
  tag_type = 'release';
  updateButtons();
}

$(document).ready(updateButtons);

$( "#release_tag" ).click(function() {
  var name = $(this).text();
  if (name.startsWith("Untag")) {
    $( "#tag-button-release" ).html(release_button_label)
    $.post("{{ url_for('get_report', image_release=image_release, image_version=image_version, image_deployment=image_deployment) }}", {
      tag: '', is_checked: false, tag_type: ''
    });
    tag_type = '';
    updateButtons();
    return;
  }

  $(this).html('');
  $( "#tag-button-release" ).remove();
  $( "#tag-button-weekly" ).attr("disabled", "disabled");
  $( "<input></input>" ).attr({
      'type': "text",
      'name': "fname",
      'id': "txt_release_tag",
      'size': "30",
      /* don't show button label when editing tag */
      'value': name != release_button_label ? name : '',
      'class': 'mb-1'
  }).appendTo( "#release_tag" );
  $( "#txt_release_tag" ).focus();
  $( "#txt_release_tag" ).on( "keydown", function(e) {
    if (e.keyCode == 13) {
      updateReleaseTag();
    }
  });
});

$( "#tag-button-weekly" ).click(function() {
  var text = $(this).html();
  var tag_weekly = text == weekly_button_label;
  $( "#tag-button-weekly" ).html(tag_weekly ? 'Untag weekly' : weekly_button_label);

  $.post("{{ url_for('get_report', image_release=image_release, image_version=image_version, image_deployment=image_deployment) }}", {
      tag: '', is_checked: tag_weekly, tag_type: 'weekly'
  });
  tag_type = tag_weekly ? 'weekly' : '';
  updateButtons();
});

$(document).on("blur", "#txt_release_tag", updateReleaseTag)

{%- else -%}
{# Disable tag_box for not authenticated users or users not allowed to tag images #}

$(document).ready(function() {
  $("#tag_box *").attr("disabled", "disabled").off('click');
})

{% endif %}
</script>
