<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
    <title>Test Reports List</title>
  </head>
  <body>
    <main role="main" class="container" style="margin-top: 40px; margin-bottom: 40px">
      <div class="row">
        <div class="col-md-9"><h2>Test Reports List</h2></div>
        <div class="col">Logged in as {{ username }}</div>
      </div>
      <hr />

      <div class="card-body mx-auto" style="width: 25rem;">
        <h4>Select Image Report</h4>
        <hr />
        <form method="post">
          <div class="form-group">
            {{ form.image_release.label }}
            {{ form.image_release(id='image-release', class_='form-control', pattern="^[0-9a-zA-Z\.\-]+$") }}
            <small>The image release number (e.g. v2023, v2025dev3)</small>
          </div>
          <div class="form-group">
            {{ form.image_version.label }}
            {{ form.image_version(id='image-version', class_='form-control', pattern="^[0-9]+\.[0-9]+$") }}
            <small>The image build number (e.g. 20240814.0215, 20240828.0018)</small>
          </div>
          <div class="form-group">
            {{ form.image_deployment.label }}
            {{ form.image_deployment(id='image-deployment', class_='form-control') }}
          </div>
          <div class="form-group">
            {{ form.image_type.label }}
            {{ form.image_type(id='image-type', class_='form-control') }}
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
          {{ form.csrf_token }}
        </form>
      </div>

    </main>

    <script id="errors" type="application/json">
      {
        "image-release": {{form.image_release.errors|tojson}},
        "image-version": {{form.image_version.errors|tojson}},
        "image-deployment": {{form.image_deployment.errors|tojson}},
        "image-type": {{form.image_type.errors|tojson}}
      }
    </script>

    <script>
      (function() {
        let errors = JSON.parse(document.getElementById('errors').textContent)

        let getFieldByErrorId = (id) => document.getElementById(id)

        let resetErrors = () => {
          for (let id in errors) {
            if (errors[id].length !== 0) {
              let field = getFieldByErrorId(id)
              field.setCustomValidity('')
            }
          }
        }

        for (let id in errors) {
          let field = getFieldByErrorId(id)
          field.addEventListener('change', () => resetErrors())

          if (errors[id].length !== 0) {
            hadErrors = true
            field.setCustomValidity(errors[id][0])
          }
        }

        if (hadErrors) {
          document.querySelector('form').reportValidity()
        }
      })()
    </script>
  </body>
</html>
