<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
    <title>Test Report Submission</title>
  </head>
  <body>
    <main role="main" class="container" style="margin-top: 40px; margin-bottom: 40px">
      <h2>Manual Test Report Submission</h2>
      <hr />

      <div class="container mb-md-3">
        <p>
          Build: <b>{{ image_version }}</b> / Release: <b>{{ image_release }}</b>
        </p>
      </div>

      <form method="post" id="tests_results">
        <div class="row">
          <div class="col"><h3>{{ image_type }}</h3> <em class="text-muted">{{ testcases_table|count }} test cases</em></div>
          <div class="col text-right"><button type="submit" class="btn btn-primary">Submit All Results</button></div>
        </div>
        {% for test_case, exec_type, priority, deployments, platforms in testcases_table %}
        <div class="card" style="border: none">
          <div class="card-body">

            <div class="row">
              <!-- Test results selection -->
              <div class="col">
                <h5 class="card-title"><a href="{{ url_for('testcases_definition', release=image_release, testcase=test_case) }}">{{ test_case }}</a></h5>
                <h5><span class="badge table-{{ priority_color_table[priority] }}">{{ priority }}</span></h5>
              </div>

              <div class="col">
                <div class="form-group">
                  {% if records[test_case] and records[test_case][0] %}
                  <label class="radio-inline" style="margin-right: 10px;">
                    <input type="radio" name="{{ test_case }}" value="pass" {% if records[test_case][0] == 'pass' %}checked{% endif %}> PASS
                  </label>
                  <label class="radio-inline" style="margin-right: 10px;">
                    <input type="radio" name="{{ test_case }}" value="fail" {% if records[test_case][0] == 'fail' %}checked{% endif %}> FAIL
                  </label>
                  <label class="radio-inline" style="margin-right: 10px;">
                    <input type="radio" name="{{ test_case }}" value="not_tested" {% if records[test_case][0] == 'not_tested' %}checked{% endif %}> NOT TESTED
                  </label>
                  {% else %}
                  <label class="radio-inline" style="margin-right: 10px;"><input type="radio" name="{{ test_case }}" value="pass"> PASS</label>
                  <label class="radio-inline" style="margin-right: 10px;"><input type="radio" name="{{ test_case }}" value="fail"> FAIL</label>
                  <label class="radio-inline" style="margin-right: 10px;"><input type="radio" name="{{ test_case }}" value="not_tested" checked> NOT TESTED</label>
                  {% endif %}
                </div>
              </div>

              <!-- Text Area -->
              <div class="col text-right">
                <textarea id="__{{ test_case }}_notes" name="__{{ test_case }}_notes" class="form-control" style="height: 40px; margin-bottom: 10px" placeholder="Notes ...">{% if records[test_case] and records[test_case][1] %}{{ records[test_case][1] }}{% endif %}</textarea>
              </div>

            </div>

          </div>
          <!-- Close card body -->
        </div>
        {% endfor %}
        {{ form.csrf_token }}
      </form>

    </main>
  </body>
</html>
